<!doctype html>
<html lang="en">

<%- include('partials/head.html'); %>

<body>

    <%- include('partials/nav.html'); %>

    <main class="container container-fill">
        <h1>Play Four</h1>
        <a href="/create" class="btn btn-primary">Create</a>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
